nextflow.enable.dsl = 2

params {
  output_dir = "./results"
  script_dir = "./scripts"
  poll_interval_sec = 3600
  bssh_project_id = 'a7208a06-2a83-4ae8-90bc-6997889754f0'
  ica_project_id  = '04c8fc29-089c-4571-b002-c81ccdce49d9'
}

process {
  executor = 'local'
  cpus = 4
  memory = '8 GB'
  time = '6h'
  errorStrategy = 'retry'
  maxRetries = 2
}

env {
  ICA_API_KEY       = "${System.getenv('ICA_API_KEY')}"
  BSSH_ACCESS_TOKEN = "${System.getenv('BSSH_ACCESS_TOKEN')}"
  EMG_USERNAME      = "${System.getenv('EMG_USERNAME')}"
  EMG_PASSWORD      = "${System.getenv('EMG_PASSWORD')}"
}

timeline {
  enabled = true
  file = "${params.output_dir}/timeline.html"
}

report {
  enabled = true
  file = "${params.output_dir}/report.html"
}

trace {
  enabled = true
  file = "${params.output_dir}/trace.txt"
}

